body {
    background-image: linear-gradient(-90deg, rgba(154, 149, 197, 0.628), rgb(44, 41, 43));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


#wrapper {
    background-color: rgb(85, 113, 225);
    height: 100%;
    width: 50%;
    margin-top: 100px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.app {
    margin: 10%;

}

.app__heading {
    display: flex;
    justify-content: space-around;
}

.app__input {
    width: 100%;
    margin-bottom: 2%;
}

.app__button {
    width: 100%;
    margin-bottom: 10%;

}